.font-special-elite {
  font-family: "Special Elite", serif;
}

.font-permanent-marker {
  font-family: "Permanent Marker", serif;
}

.font-oswald {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
}

.font-source-code-pro {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
}

.font-roboto {
  font-family: "Roboto", serif;
}
